$button: hsl(322, 100%, 66%);
$button-hover: #ff9adb;
$light: rgb(235, 251, 255);
$dark: hsl(192, 100%, 9%);
$paragraph: #808e9a;
$main-bg: #edfbff;
$heading-font: "Poppins", sans-serif;
$body-font: "Open Sans", sans-serif;
$cta-font-weight: 700;
$card-shadow: 0.1875em 0.1875em 0.5625em rgba(0, 0, 0, 0.15);

:root {
  font-size: 100%;
}

body {
  font-family: $body-font;
  text-align: center;
}

p {
  font-size: clamp(0.875rem, 3vw, 1.125rem);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font;
}

button {
  font-weight: $cta-font-weight;
}

* {
  // border: 1px solid red;
  margin: 0;
  padding: 0;
}

.section {
  display: flex;
  flex-direction: column;
}

.section.start {
  background-image: url("../images/bg-hero-mobile.svg");
  background-size: cover;
  align-items: center;
  color: $dark;
  background-color: $main-bg;
  padding-bottom: 4.3125em;
  overflow: hidden;

  header {
    display: flex;
    justify-content: space-between;
    height: 1.5em;
    align-items: center;
    padding: 1.5em 1em;
    width: 92vw;

    img {
      height: clamp(1em, 3vw, 2em);
      margin-left: clamp(1em, 6vw, 5em);
    }

    button {
      background-color: white;
      border: none;
      color: $dark;
      border-radius: 2em;
      font-size: clamp(0.625rem, 2vw, 0.875rem);
      padding: 0.5em 2.25em;
      padding-top: clamp(0.4em, 1.25vw, 0.785em);
      padding-bottom: clamp(0.4em, 1.25vw, 0.785em);
      padding-left: clamp(2.5em, 4vw, 4.5em);
      padding-right: clamp(2.5em, 4vw, 4.5em);
      margin-right: clamp(1em, 6vw, 5em);
      filter: drop-shadow(0 0.25em 0.25em rgba(0, 0, 0, 0.25));
    }

    button:hover {
      color: $paragraph;
      cursor: pointer;
    }
  }

  .start__main {
    margin-top: 4em;
    width: 80%;

    .start__title {
      font-size: clamp(1.5rem, 5vw, 2.5rem);
      margin-bottom: 1.5em;
    }

    .start__text {
      font-size: clamp(1rem, 1.8vw, 1.125rem);
      margin-bottom: 2em;
    }

    .start__button {
      background-color: $button;
      color: white;
      border: none;
      font-size: clamp(0.75rem, 2.5vw, 0.875rem);
      padding-top: clamp(0.833em, 1.75vw, 1.285em);
      padding-bottom: clamp(0.833em, 1.75vw, 1.285em);
      padding-left: 5em;
      padding-right: 5em;
      border-radius: 4em;
      box-shadow: 0.15em 0.25em 0.5em hsla(322, 100%, 66%, 35%);
    }

    .start__button:hover {
      background-color: $button-hover;
      cursor: pointer;
    }

    .start__image {
      margin-top: 3.5em;
      width: 100%;
    }
  }
}

.section.cards {
  padding: 3.6875em 1em 7.5em 1em;

  .card {
    border-radius: 1em;
    padding: 1.5em 2.5em 2em 2.5em;
    box-shadow: $card-shadow;
    margin-bottom: 2.5em;

    img {
      width: 100%;
      margin-bottom: 1.5em;
    }

    .card__title {
      font-size: 1.25rem;
      margin-bottom: 1em;
    }

    .card__paragraph {
      font-size: 0.875rem;
      color: $paragraph;
    }
  }
}

.bg-half {
  background-image: linear-gradient(180deg, white, white 50%, $dark 0);
}

.section.cta {
  border-radius: 1em;
  background-color: white;
  padding: 2.5em 0.75em;
  margin: 0 0.75em;
  box-shadow: $card-shadow;

  .cta__title {
    font-size: clamp(1.125rem, 2.5vw, 2rem);
    margin-bottom: clamp(1.5em, 3.125vw, 2em);
  }

  .cta__button {
    font-size: clamp(0.625rem, 1.75vw, 1.25rem);
    background-color: $button;
    color: white;
    margin: 0 auto;
    border-radius: 2.5em;
    border: none;
    padding: 1.5em 5em;
    box-shadow: 0 0.25em 0.5em hsla(192, 100%, 9%, 22%);
  }

  .cta__button:hover {
    background-color: $button-hover;
    cursor: pointer;
  }
}

.footer {
  background-color: $dark;
  display: flex;
  flex-direction: column;
  color: white;
  padding: 0 1em;
  text-align: left;

  .footer__logo {
    filter: brightness(0) invert(1);
    margin-top: 4.5em;
    margin-bottom: 2em;
    height: 2em;
    width: 14em;
  }

  .footer__contact {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .footer__contact__item {
      display: flex;
      margin-bottom: 2em;

      .footer__icon {
        height: 1.25em;
        margin-right: 2em;
      }

      .footer__text {
        font-size: 0.875rem;

        a {
          text-decoration: none;
          color: white;
        }

        a:hover {
          color: $button;
        }
      }
    }
  }

  .footer__links {
    margin-top: 0.8125em;
    list-style: none;

    li {
      margin-bottom: 1.15em;
      padding: 0.25em 0;

      a {
        text-decoration: none;
        color: white;
        font-size: 0.875rem;
      }

      a:hover {
        color: $button;
      }
    }
  }

  .footer__social {
    display: flex;
    list-style: none;
    justify-content: space-between;
    width: 8.5em;
    margin: 0 auto;

    li {
      border: 1px solid white;
      border-radius: 50%;
      height: 2em;
      width: 2em;
      display: flex;
      align-items: center;
      justify-content: center;

      a {
        height: 0.875em;
        text-decoration: none;
        color: white;
        margin-bottom: 0.5em;
      }
    }

    li:hover {
      border-color: $button;
    }

    li:hover > * {
      color: $button;
    }
  }

  .footer__copyright {
    text-align: center;
    margin-top: 1.5em;
    margin-bottom: 2.875em;
    font-size: 0.7rem;
  }
}

@media (min-width: 600px) {
  .section.cards {
    .card {
      display: flex;
      align-items: center;

      img {
        width: 35%;
      }

      .card__text {
        text-align: left;

        .card__title {
          font-size: clamp(1.25rem, 2.5vw, 1.75rem);
        }

        .card__paragraph {
          font-size: clamp(0.875rem, 1.75vw, 1.125rem);
        }
      }
    }

    .card.text--left {
      flex-direction: row-reverse;
      justify-content: space-between;
      padding-left: 10%;
      padding-right: 1.5%;

      .card__text {
        margin-right: 15%;
      }
    }

    .card.text--right {
      justify-content: space-between;
      padding-left: 1.5%;
      padding-right: 10%;

      .card__text {
        margin-left: 15%;
      }
    }
  }

  .section.cta {
    width: 55%;
    margin: 0 auto;
  }
}

@media (min-width: 850px) {
  .footer {
    padding: 0 8% 3em 8%;
    display: grid;
    grid-template-columns: 1.4fr 1fr 0.75fr;
    column-gap: 10%;
    row-gap: 1em;

    .footer__logo {
      grid-column: 1 / 4;
      grid-row: 1;
    }

    .footer__links {
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: start;
      margin-top: 0;
    }

    .col-4 {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }
}

@media (min-width: 965px) {
  .section.start {
    background-image: url("../images/bg-hero-desktop.svg");
    justify-content: space-between;

    header {
      padding-top: 3.125em;
    }

    .start__main {
      display: flex;
      justify-content: space-between;
      align-items: center;
      text-align: left;
      width: 90%;

      .start__main__text {
        width: 42.5%;
        margin-right: 2.5%;
      }

      .start__image {
        width: 55%;
        object-fit: contain;
        margin-top: 0;
      }
    }
  }
}
